.chat {
  display: flex;
  flex-direction: column;
  flex: 2;
  border-right: 1px solid #dddddd35;
  border-left: 1px solid #dddddd35;
  .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    .user-info {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      .name {
        font-size: 18px;
        margin-bottom: 5px;
      }
      .bio {
        color: #bdbdbd;
        font-size: 12px;
      }
    }
    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
  .messages {
    display: flex;
    flex-direction: column;
    /* flex: 10; */
    gap: 20px;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    border-top: 1px solid #dddddd35;
    border-bottom: 1px solid #dddddd35;
    .message {
      max-width: 70%;
      display: flex;
      gap: 20px;
      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      .message-texts {
        img {
          object-fit: cover;
          width: 100%;
          border-radius: 10px;
        }
        p {
          background-color: rgba(14, 25, 40, 0.3);
          padding: 15px;
          border-radius: 10px;
        }
        small {
          font-size: 10px;
          color: #eaeaea;
          word-spacing: -1px;
          margin-left: 3px;
        }
      }
    }
    .own {
      align-self: flex-end;
      .message-texts {
        p {
          background-color: #5183fe;
        }
      }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    /* flex: 1; */
    margin-top: auto;
    /* height: 10px; */
    padding: 15px 15px 8px;
    gap: 20px;
    margin-top: auto;
    img {
      width: 18px;
      height: 18px;
      cursor: pointer;
      /* flex: 1; */
    }
    img:active {
      transform: scale(1.1);
    }
    input {
      flex: 2;
      background-color: rgba(17, 25, 40, 0.5);
      border: none;
      outline: none;
      padding: 15px 20px;
      border-radius: 10px;
      font-size: 16px;
      color: white;
    }
    .emoji {
      position: relative;
    }
    .picker {
      position: absolute;
      bottom: 50px;
      left: 0;
    }
    .send-btn {
      width: 80px;
      padding: 8px 10px;
      border-radius: 4px;
      background-color: #5183fe;
      cursor: pointer;
      color: white;
      border: none;
    }
    .send-btn:active {
      transform: scale(0.9);
    }
  }
}
